.welcome
{
	background-image:url(../img/GrandLake.jpg);
	background-repeat:none;
	height:100vh;
	background-position:center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
	color:#fff

}
.navbar
{
	border: none;
}
.container-fluid 
{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-header
{
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-collapse
{
	background-color: #0B3F1F;
}
.half-height
{
	height:50vh;
}
.quarter-height
{
	height:25vh;
}
.navbar
{
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.navbar-inverse
{
	background: #000;
}

.center-text
{
    display: inline-block;
    vertical-align: middle;
}

.welcome-text
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 1.42857143;
  color: #777;
}

.intro {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/GrandLake.jpg) no-repeat;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 30px;
}

@media(min-width:100%) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 90px;
    }

    .intro .intro-body .intro-text {
        font-size: 40px;
    }
}

